.search {
  padding-left: 78%;
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.background-home {
    background-image: url("/background_home.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.welcome-container {
    padding: 20%
}

<<<<<<< Updated upstream:expensify-frontend/app/style.css
.welcome {
    font-size: 100px;
    color: white;
}
=======
.popup-content {
  background-color: #455b8a;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  width: 350px;
  box-sizing: border-box;
}

.expenses-table-container {
  max-height: 600px;
  overflow-y: auto;
}

.add-expense {
  font-weight: bold;
  background-color: #9f9ffd;
  margin-left: 70%;
  padding: 10px 20px;
  border-radius: 30px;
  color: #474444;
}

.submit-button {
  background-color: #6e88af;
  color: white;
  margin: 10px 20px;
  margin-left: 35%;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 17px;
}
.close-button {
  background-color: #6e88af;
  color: white;
  margin-top: 5px;
  padding: 8px 21px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 17px;
}

.log-out {
  font-weight: bold;
  background-color: #c1c1ff;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  color: #474444;
}
>>>>>>> Stashed changes:expensify-frontend/components/EmployeeHomePage/style.css
