.styled-background {
  background-image: url("/background_login.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.styled-login-form {
  padding-top: 40px;
  position: absolute;
}

.styled-button {
  padding: 10px 95px;
  margin-top: 30px;
  margin-left: 45px;
  margin-right: 40px;
  margin-bottom: 50px;
  border-radius: 50px;
  background-color: #33cccc;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.styled-error {
  position: absolute;
  color: #99ffff;
  margin-top: 80px;
}
